<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User stats</title>
</head>
<body>
  <div class="header">
    <div class="logo">User stats</div>
  </div>
  <div class="content">
    <div class="searchbar">
      <form (submit)="search($event.target.value)">
        <input id="search" placeholder="Search" type="text" (input)="wordInput = $event.target.value">
        <button type="submit" id="button-submit"></button>
      </form>
    </div>
    <div class="list" id="users" *ngIf="items.length > 0">
      <div class="item" *ngFor="let item of items">
        <div class="email">{{item}}</div>
      </div>
      <div class="moves">
        <div class="left"><</div>
        <div class="right">></div>
      </div>
    </div>
  </div>
</body>
</html>